absl-py
blis
certifi
chardet
ConfigArgParse
cymem
future
grpcio
idna
jsonschema
Markdown
murmurhash
numpy2
pandas2
Pillow
plac
preshed
protobuf
python-dateutil
pytz1
requests
six0
spacy
srsly
tensorboard
tensorboardX
thinc
tqdm
urllib3
wasabi
Werkzeug
